html {
    width: 100%;
}

body {
    margin: auto;
}

.section {
    width: auto;
    height: 100vh;
}


.section-landing-img {
    background-image: url(img/magazine-mockup_358694-3219.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-landing-copy {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: inherit;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-gap: clamp(10px, 2vw, 20px);
    font-size: clamp(1.7rem, 5vw, 4rem);
}

.anim-header-landing {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: 0;
}

.anim-body-landing {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    opacity: 0;
    font-size: clamp(1rem, 2vw, 2rem);
    width: 100%;
}

.section-learning {
    height: auto;
}

.section-learning-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.anim-container-learning {
    height: 100vh;
    width: auto;
}

.anim-container-learning {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    font-size: clamp(1.5rem, 5vw, 4rem);
}

.anim-body-learning {
    width: 80%;
}

.anim-sub-learning {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 2rem);
}

.learning-img1 {
    width: 100%;
    /*    height: auto;*/
    background-image: url(img/99u-quarterly-magazine-behance-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.learning-img2 {
    width: 100%;
    /*    height: auto;*/
    background-image: url(img/99u-quarterly-magazine-behance-2.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
}

.section-skills-canvas {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
}

.anim-evalgrid-skills {
    display: flex;
    align-items: center;
}

.anim-skills-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    width: 80%;
}

.anim-skills-sub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 2rem);
}

.skills {
    position: absolute;
    height: auto;
    width: 50%;
    opacity: 0;
}


.section-reflect {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.section-reflect-img {
    background-image: url(img/photo-1612969307974-ee4e57d2d5a7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 0%;
}

.section-reflect-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: 0;
    margin: 0 auto;
    font-size: clamp(2rem, 5vw, 4rem);
    max-width: 720px;
    height: 100%;
}

.section-reflect-sub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    opacity: 0;
    font-size: clamp(1rem, 2vw, 2rem);
}

.section-map-canvas {
    display: grid;
}

.anim-graph-map {
    display: grid;
    width: 100%;
}

.roadmap {
    opacity: 0;
    height: auto;
    margin: 0 auto;
    width: 80%;
}

.roadmap-guideline {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 20;
}

.roadmap-step {
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 10;
}

.roadmap-guidetext {
    grid-column-start: 1;
    grid-row-start: 1;
}

.roadmap-line {
    grid-column-start: 1;
    grid-row-start: 1;

}

.section-map {
    display: flex;
    align-items: center;
}

.section-map-body {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.section-map-sub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .section-learning-imgs {
        grid-template-columns: 1fr;
    }

    .anim-body-learning {
        height: 50vh;
    }

    .learning-img1,
    .learning-img2 {
        height: 600px;
        background-size: cover;
    }

    .section-skills {
        height: 80vh;
    }

    .section-skills-canvas {
        grid-template-columns: 1fr;
        height: 50vh;
    }

    .skills {
        width: 100%;
    }

    .section-map {}

    .roadmap {
        width: 95%;
    }

    .section-map-canvas {}

    .section-map-body {
        width: 70%;
    }

    .section-reflect-body {
        width: auto;
    }

    .section-reflect-sub {
        width: 300px;
    }
}
