body {
    margin: auto;
}

.section {
    width: 100%;
    height: 100vh;
}


.section-landing-img {
    background-image: url(img/magazine-mockup_358694-3219.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-landing-copy {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: inherit;
    width: 80vw;
    height: 100%;
    align-items: center;
    grid-gap: clamp(10px, 2vw, 20px);
    font-size: clamp(2rem, 5vw, 4rem);
}

.anim-header-landing {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: 0;
}

.anim-body-landing {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    opacity: 0;
    font-size: clamp(1rem, 2vw, 2rem);
    width: 100%;
}

.section-learning {
    height: auto;
}

.section-learning-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.anim-container-learning {
    height: 100vh;
    width: auto;
}

@media screen and (max-width: 800px) {
    .section-learning-imgs {
        grid-template-columns: 1fr;
    }

    .anim-container-learning {
        width: 100%;
        height: 70vh;
    }

    .learning-img1,
    .learning-img2 {
        height: 600px;
        background-attachment: scroll;
    }
}

.anim-container-learning {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    font-size: clamp(2rem, 5vw, 4rem);
}

.anim-body-learning {
    width: 540px;
}

.anim-sub-learning {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 2rem);
}

.learning-img1 {
    width: 100%;
    /*    height: auto;*/
    background-image: url(img/99u-quarterly-magazine-behance-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.learning-img2 {
    width: 100%;
    /*    height: auto;*/
    background-image: url(img/99u-quarterly-magazine-behance-2.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
}


.section-skills-canvas {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 800px) {
    .section-skills {
        height: 70vh;
    }

    .section-skills-canvas {
        grid-template-columns: 1fr;
        height: 50vh;
    }

    .anim-evalgrid-skills {
        margin: 0;
    }
}

.anim-evalgrid-skills {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(2, auto);
}

.anim-skills-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    width: 540px;
}

.anim-skills-sub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 2rem);
}

.x-axis-title {
    display: flex;
    grid-column-start: 2;
    position: relative;
    padding-bottom: 10px;
    bottom: 20px;
    opacity: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    text-align: center;
    align-items: flex-end;
}

.y-axis-title {
    writing-mode: vertical-rl;
    position: relative;
    padding-right: 10px;
    right: 20px;
    width: 100 opacity: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    grid-column-start: 1;
    grid-row-start: 2;
}

.skills-table {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-template-areas:
        "a b c d e f"
        "g . . h i ."
        "j . . . k .";
    grid-gap: 10px;
}

.cell-skills {
    height: 80px;
    width: 80px;
    opacity: 0;
}

.cell-a {
    grid-area: a;
    background-color: fuchsia;
}

.cell-b {
    grid-area: b;
    background-color: blueviolet;
}

.cell-c {
    grid-area: c;
    background-color: darkgreen;
}

.cell-d {
    grid-area: d;
    background-color: darkgreen;
}

.cell-e {
    grid-area: e;
    background-color: darkgreen;
}

.cell-f {
    grid-area: f;
    background-color: darkgreen;
}

.cell-g {
    grid-area: g;
    background-color: darkgreen;
}

.cell-h {
    grid-area: h;
    background-color: darkgreen;
}

.cell-i {
    grid-area: i;
    background-color: darkgreen;
}

.cell-j {
    grid-area: j;
    background-color: darkgreen;
}

.cell-k {
    grid-area: k;
    background-color: darkgreen;
}

.section-reflect {
    position: relative;
}

.section-reflect-img {
    background-image: url(img/photo-1612969307974-ee4e57d2d5a7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-reflect-body {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    opacity: 0;
    position: absolute;
    margin-left: 5vw;
    top: 25%;
    left: 50%;
    font-size: clamp(2rem, 5vw, 4rem);
    width: 640px;
}

.section-reflect-sub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    opacity: 0;
    position: absolute;
    margin-left: 5vw;
    top: 35%;
    left: 50%;
    font-size: clamp(1rem, 2vw, 2rem);
    width: 540px;
}

@media screen and (max-width: 800px) {
    .section-reflect-body {
        width: auto;
    }

    .section-reflect-sub {
        width: 300px;
    }
}

.anim-graph-map {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}

.roadmap {
    opacity: 0;
}

.roadmap-guideline {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 20;
}

.roadmap-step {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.roadmap-guidetext {
    height: auto;
    width: 100%;
    position: absolute;
}

.roadmap-line {
    height: auto;
    width: 100%;
    position: absolute;
}

.section-map-body {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 4rem);
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    margin: 0 auto;
    width: 580px;
}

.section-map-sub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 2rem);
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    margin: 0 auto;
    width: 580px;
}
